<a href="https://colab.research.google.com/github/parikshithrao/ML/blob/master/admission_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
! pip install -q kaggle

In [2]:
from google.colab import files

files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"parikshithh","key":"92797f1131200a15ac8cdb4aa9898829"}'}

In [0]:
! mkdir ~/.kaggle

In [0]:
! cp kaggle.json ~/.kaggle/

In [0]:
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
! kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                             title                                                size  lastUpdated          downloadCount
--------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
allen-institute-for-ai/CORD-19-research-challenge               COVID-19 Open Research Dataset Challenge (CORD-19)    3GB  2020-06-10 00:09:23          71785
roche-data-science-coalition/uncover                            UNCOVER COVID-19 Challenge                          179MB  2020-05-21 18:57:53          10483
kwullum/fatal-police-shootings-in-the-us                        Fatal Police Shootings in the US                      1MB  2017-09-22 19:18:21          12617
Cornell-University/arxiv                                        ArXiv Metadata                                        2GB  2020-05-06 23:18:35              2
yash612/stockmarket-sentiment-dataset                           Stock-Market Sentiment Dataset                      201KB  2020-06-05 19:16:19              0
cprete/covid19-open-datasets-for-brazil                         COVID-19 Open Datasets for Brazil                   139MB  2020-06-07 15:36:31              0
mohitkr05/global-significant-earthquake-database-from-2150bc    Global Significant Earthquake Database from 2150BC  216KB  2020-06-08 09:41:18              0
andrewmvd/global-education-statistics                           Global Education Statistics                          38MB  2020-06-06 04:35:48              0
sudalairajkumar/daily-temperature-of-major-cities               Daily Temperature of Major Cities                    13MB  2020-06-05 07:34:48              0
thoolihan/los-angeles-1992-riot-deaths-from-la-times            Los Angeles 1992 Riot Deaths from LA Times           16KB  2020-06-03 21:09:07              0
batjoker/zomato-restaurants-hyderabad                           Zomato Restaurants Hyderabad                          1MB  2020-06-08 15:11:39              0
paultimothymooney/minneapolis-police-stops-and-police-violence  Minneapolis Police Stops and Police Violence          8MB  2020-06-11 20:47:15              0
imdevskp/hiv-aids-dataset                                       HIV AIDS Dataset                                     37KB  2020-06-11 12:59:45              0
longnguyen2306/bacteria-detection-with-darkfield-microscopy     Bacteria detection with darkfield microscopy        162MB  2020-06-08 10:31:54              0
jpmiller/police-violence-in-the-us                              US Police Violence & Fatalities                      13MB  2020-06-11 04:31:21              0
benroshan/factors-affecting-campus-placement                    Campus Recruitment                                    5KB  2020-04-11 11:09:02           5523
bobbyscience/league-of-legends-diamond-ranked-games-10-min      League of Legends Diamond Ranked Games (10 min)     539KB  2020-04-13 13:53:02           2542
fireballbyedimyrnmom/us-counties-covid-19-dataset               US counties COVID 19 dataset                          2MB  2020-06-11 12:18:09           7247
divyansh22/flight-delay-prediction                              January Flight Delay Prediction                      23MB  2020-04-14 13:15:41           1850
clmentbisaillon/fake-and-real-news-dataset                      Fake and real news dataset                           41MB  2020-03-26 18:51:15           4998

In [9]:
! kaggle datasets download -d mohansacharya/graduate-admissions

graduate-admissions.zip: Skipping, found more recently modified local copy (use --force to force download)

In [10]:
! unzip /content/graduate-admissions.zip

Archive:  /content/graduate-admissions.zip
replace Admission_Predict.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: Admission_Predict.csv
replace Admission_Predict_Ver1.1.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: Admission_Predict_Ver1.1.csv

In [0]:
import numpy as np

In [0]:
import pandas as pd

**Context**
This dataset is created for prediction of Graduate Admissions from an Indian perspective.

**Content**
The dataset contains several parameters which are considered important during the application for Masters Programs.
The parameters included are :

GRE Scores ( out of 340 )
TOEFL Scores ( out of 120 )
University Rating ( out of 5 )
Statement of Purpose and Letter of Recommendation Strength ( out of 5 )
Undergraduate GPA ( out of 10 )
Research Experience ( either 0 or 1 )
Chance of Admit ( ranging from 0 to 1 )

**Acknowledgements**

This dataset is inspired by the UCLA Graduate Dataset. The test scores and GPA are in the older format.
The dataset is owned by Mohan S Acharya.

Inspiration
This dataset was built with the purpose of helping students in shortlisting universities with their profiles. The predicted output gives them a fair idea about their chances for a particular university.

Citation
Please cite the following if you are interested in using the dataset :
Mohan S Acharya, Asfia Armaan, Aneeta S Antony : A Comparison of Regression Models for Prediction of Graduate Admissions, IEEE International Conference on Computational Intelligence in Data Science 2019

I would like to thank all of you for contributing to this dataset through discussions and questions. I am in awe of the number of kernels built on this dataset. Some results and visualisations are fantastic and makes me a proud owner of the dataset. Keep em' coming! Thank You.

In [0]:
df = pd.read_csv('/content/Admission_Predict.csv')

Read csv file

In [98]:
df.head(30)

    Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0            1        337          118  ...  9.65         1              0.92
1            2        324          107  ...  8.87         1              0.76
2            3        316          104  ...  8.00         1              0.72
3            4        322          110  ...  8.67         1              0.80
4            5        314          103  ...  8.21         0              0.65
5            6        330          115  ...  9.34         1              0.90
6            7        321          109  ...  8.20         1              0.75
7            8        308          101  ...  7.90         0              0.68
8            9        302          102  ...  8.00         0              0.50
9           10        323          108  ...  8.60         0              0.45
10          11        325          106  ...  8.40         1              0.52
11          12        327          111  ...  9.00         1              0.84
12          13        328          112  ...  9.10         1              0.78
13          14        307          109  ...  8.00         1              0.62
14          15        311          104  ...  8.20         1              0.61
15          16        314          105  ...  8.30         0              0.54
16          17        317          107  ...  8.70         0              0.66
17          18        319          106  ...  8.00         1              0.65
18          19        318          110  ...  8.80         0              0.63
19          20        303          102  ...  8.50         0              0.62
20          21        312          107  ...  7.90         1              0.64
21          22        325          114  ...  8.40         0              0.70
22          23        328          116  ...  9.50         1              0.94
23          24        334          119  ...  9.70         1              0.95
24          25        336          119  ...  9.80         1              0.97
25          26        340          120  ...  9.60         1              0.94
26          27        322          109  ...  8.80         0              0.76
27          28        298           98  ...  7.50         1              0.44
28          29        295           93  ...  7.20         0              0.46
29          30        310           99  ...  7.30         0              0.54

[30 rows x 9 columns]

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [100]:
df.describe()

       Serial No.   GRE Score  ...    Research  Chance of Admit
count  400.000000  400.000000  ...  400.000000        400.000000
mean   200.500000  316.807500  ...    0.547500          0.724350
std    115.614301   11.473646  ...    0.498362          0.142609
min      1.000000  290.000000  ...    0.000000          0.340000
25%    100.750000  308.000000  ...    0.000000          0.640000
50%    200.500000  317.000000  ...    1.000000          0.730000
75%    300.250000  325.000000  ...    1.000000          0.830000
max    400.000000  340.000000  ...    1.000000          0.970000

[8 rows x 9 columns]

In [101]:
df.corr()

                   Serial No.  GRE Score  ...  Research  Chance of Admit
Serial No.           1.000000  -0.097526  ... -0.063138          0.042336
GRE Score           -0.097526   1.000000  ...  0.580391          0.802610
TOEFL Score         -0.147932   0.835977  ...  0.489858          0.791594
University Rating   -0.169948   0.668976  ...  0.447783          0.711250
SOP                 -0.166932   0.612831  ...  0.444029          0.675732
LOR                 -0.088221   0.557555  ...  0.396859          0.669889
CGPA                -0.045608   0.833060  ...  0.521654          0.873289
Research            -0.063138   0.580391  ...  1.000000          0.553202
Chance of Admit      0.042336   0.802610  ...  0.553202          1.000000

[9 rows x 9 columns]

In [0]:
columns = df.columns

In [103]:
for column in columns:
    if df[column].dtype == 'int':
        print(column,"total unique values are :",df[column].unique(),'\n')

Serial No. total unique values are : [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306
 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396
 397 398 399 400]

GRE Score total unique values are : [337 324 316 322 314 330 321 308 302 323 325 327 328 307 311 317 319 318
 303 312 334 336 340 298 295 310 300 338 331 320 299 304 313 332 326 329
 339 309 315 301 296 294 306 305 290 335 333 297 293]

TOEFL Score total unique values are : [118 107 104 110 103 115 109 101 102 108 106 111 112 105 114 116 119 120
  98  93  99  97 117 113 100  95  96  94  92]

University Rating total unique values are : [4 3 2 5 1]

Research total unique values are : [1 0]

In [0]:
y = df['Chance of Admit ']

In [105]:
df

     Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0             1        337          118  ...  9.65         1              0.92
1             2        324          107  ...  8.87         1              0.76
2             3        316          104  ...  8.00         1              0.72
3             4        322          110  ...  8.67         1              0.80
4             5        314          103  ...  8.21         0              0.65
..          ...        ...          ...  ...   ...       ...               ...
395         396        324          110  ...  9.04         1              0.82
396         397        325          107  ...  9.11         1              0.84
397         398        330          116  ...  9.45         1              0.91
398         399        312          103  ...  8.78         0              0.67
399         400        333          117  ...  9.66         1              0.95

[400 rows x 9 columns]

In [0]:
X = df.drop(columns = ['Chance of Admit ', 'Serial No.'], axis = 1)

In [107]:
X

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
395        324          110                  3  3.5   3.5  9.04         1
396        325          107                  3  3.0   3.5  9.11         1
397        330          116                  4  5.0   4.5  9.45         1
398        312          103                  3  3.5   4.0  8.78         0
399        333          117                  4  5.0   4.0  9.66         1

[400 rows x 7 columns]

In [108]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test =  train_test_split(X,y,test_size = 0.2,random_state = 50)

In [111]:
len(X_train)

320

In [112]:
type(X_train)

pandas.core.frame.DataFrame

In [0]:
X_train = np.array(X_train)

In [114]:
type(X_train)

numpy.ndarray

In [115]:
y_train

145    0.81
387    0.53
44     0.91
138    0.80
43     0.87
       ...
132    0.71
289    0.79
109    0.68
395    0.82
176    0.90
Name: Chance of Admit , Length: 320, dtype: float64

In [0]:
y_train = np.array(y_train)

In [117]:
y_train

array([0.81, 0.53, 0.91, 0.8 , 0.87, 0.51, 0.96, 0.5 , 0.47, 0.85, 0.94,
       0.84, 0.65, 0.87, 0.72, 0.77, 0.76, 0.97, 0.76, 0.79, 0.97, 0.75,
       0.81, 0.71, 0.91, 0.86, 0.81, 0.77, 0.64, 0.88, 0.68, 0.77, 0.66,
       0.68, 0.7 , 0.73, 0.63, 0.85, 0.64, 0.74, 0.59, 0.94, 0.79, 0.64,
       0.54, 0.73, 0.72, 0.84, 0.78, 0.74, 0.82, 0.72, 0.76, 0.77, 0.54,
       0.93, 0.72, 0.64, 0.66, 0.62, 0.56, 0.71, 0.7 , 0.61, 0.38, 0.82,
       0.48, 0.65, 0.57, 0.62, 0.7 , 0.94, 0.96, 0.64, 0.49, 0.96, 0.93,
       0.93, 0.92, 0.52, 0.8 , 0.94, 0.67, 0.52, 0.63, 0.76, 0.73, 0.91,
       0.76, 0.92, 0.9 , 0.89, 0.94, 0.58, 0.67, 0.71, 0.72, 0.39, 0.95,
       0.74, 0.73, 0.78, 0.94, 0.58, 0.84, 0.7 , 0.71, 0.65, 0.8 , 0.92,
       0.72, 0.78, 0.8 , 0.61, 0.68, 0.97, 0.52, 0.85, 0.95, 0.77, 0.93,
       0.71, 0.69, 0.58, 0.75, 0.64, 0.34, 0.71, 0.69, 0.71, 0.86, 0.64,
       0.48, 0.64, 0.79, 0.46, 0.79, 0.86, 0.91, 0.53, 0.91, 0.73, 0.7 ,
       0.87, 0.58, 0.85, 0.57, 0.68, 0.84, 0.9 , 0.42, 0.89, 0.88, 0.54,
       0.78, 0.71, 0.79, 0.73, 0.63, 0.7 , 0.57, 0.72, 0.49, 0.7 , 0.59,
       0.94, 0.76, 0.65, 0.52, 0.93, 0.46, 0.61, 0.59, 0.63, 0.65, 0.95,
       0.72, 0.8 , 0.83, 0.62, 0.89, 0.74, 0.78, 0.81, 0.74, 0.49, 0.92,
       0.68, 0.47, 0.62, 0.78, 0.94, 0.78, 0.67, 0.63, 0.6 , 0.5 , 0.36,
       0.52, 0.85, 0.46, 0.64, 0.65, 0.47, 0.81, 0.45, 0.61, 0.72, 0.95,
       0.64, 0.76, 0.71, 0.84, 0.7 , 0.77, 0.62, 0.68, 0.77, 0.73, 0.42,
       0.71, 0.65, 0.9 , 0.69, 0.68, 0.73, 0.46, 0.9 , 0.97, 0.79, 0.44,
       0.56, 0.89, 0.67, 0.92, 0.67, 0.43, 0.75, 0.65, 0.44, 0.7 , 0.62,
       0.47, 0.81, 0.73, 0.7 , 0.34, 0.73, 0.89, 0.78, 0.82, 0.64, 0.69,
       0.93, 0.71, 0.88, 0.82, 0.88, 0.66, 0.86, 0.47, 0.84, 0.84, 0.71,
       0.64, 0.72, 0.54, 0.87, 0.73, 0.86, 0.7 , 0.56, 0.96, 0.78, 0.78,
       0.81, 0.36, 0.75, 0.44, 0.92, 0.61, 0.72, 0.67, 0.62, 0.72, 0.48,
       0.76, 0.69, 0.46, 0.96, 0.83, 0.75, 0.75, 0.87, 0.79, 0.78, 0.89,
       0.71, 0.89, 0.84, 0.8 , 0.38, 0.57, 0.68, 0.57, 0.96, 0.74, 0.42,
       0.77, 0.79, 0.86, 0.66, 0.89, 0.82, 0.94, 0.71, 0.79, 0.68, 0.82,
       0.9 ])

In [0]:
X_test = np.array(X_test)

In [119]:
y_test

146    0.75
332    0.75
67     0.57
362    0.91
102    0.62
       ...
55     0.64
65     0.55
16     0.66
153    0.79
225    0.61
Name: Chance of Admit , Length: 80, dtype: float64

In [0]:

y_test = np.array(y_test)

In [0]:
# no need to normalize data for regression values

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
regressor = LinearRegression()

In [124]:

regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
y_pred = regressor.predict(X_test)

In [135]:
y_pred[9]

0.8004217371332953

In [134]:

y_test[9
       ]

0.8

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

In [0]:
import joblib

In [0]:
my_model = 'my_model.sav'

In [142]:
joblib.dump( regressor, 'my_model')

['my_model']

In [0]:
model = joblib.load('/content/my_model')

In [147]:
model.predict(X_test)

array([0.66816926, 0.63624273, 0.73122214, 0.91807932, 0.65866257,
       0.77019932, 0.67465277, 0.85075008, 0.8370863 , 0.80042174,
       0.48056318, 0.66584472, 0.68620325, 0.61657599, 0.53355645,
       0.57336479, 0.49646167, 0.82307466, 0.62536007, 0.69933237,
       0.9672319 , 0.85839996, 0.86003093, 0.90411493, 0.62206212,
       0.69831889, 0.64005358, 0.89966116, 0.80355934, 0.75630733,
       0.90994904, 0.84070293, 0.59694903, 0.72751722, 0.71782846,
       0.60565153, 0.59822195, 0.7088992 , 0.7832538 , 0.69810586,
       0.93723918, 0.6595092 , 0.9532787 , 0.69738735, 0.68455438,
       0.64827778, 0.65447539, 0.88099392, 0.95172157, 0.5197848 ,
       0.46257415, 0.54745506, 0.79195137, 0.7259337 , 0.66500139,
       0.65254347, 0.93792857, 0.74138918, 0.8814558 , 0.9516664 ,
       0.67482617, 0.76304487, 0.80814566, 0.85859395, 0.52140877,
       0.70155389, 0.90570557, 0.72509137, 0.71805487, 0.73638729,
       0.76734751, 0.74163439, 0.73350435, 0.82704031, 0.66160972,
       0.58799611, 0.78802902, 0.71434669, 0.75733023, 0.55231698])

In [149]:
model.predict(np.array([[340, 120, 4, 4.5, 4.5, 9, 0]]))

array([0.8737515])